@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(232, 232, 232);
}
body {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
