@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(232, 232, 232);
}
body {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
